*
{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    transition : all .4s ease;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: #fff;
   
}
#main-wraper
{
    width: 100%;
    position: relative;
}
#main-wraper .new_menu
{
    position: fixed;
    width: 350px;
    height: 100vh;
    top:0;
    left: -350px;
    /* animation: gochange 1.5s linear;
    animation-iteration-count: inherit; */
    z-index: 10;
}
#main-wraper .active1
  {
    position: fixed;
    width: 350px;
    height: 100vh;
    top:0;
    left: 0;
  }
#main-wraper .new_menu  .navbar-collapse
{
    margin-left: 0;
}
#main-wraper .new_menu  .navbar-collapse .icon-mxh
{
   display: none;
}
#main-wraper .new_menu::before
{
    content : '';
    position: absolute;
    top: 0;
    left: 0;width:100%;
    height: 100%;
    z-index: -1;
    background: rgb(31, 28, 28);
    clip-path: polygon(0 0, 55% 32%, 56% 67%, 0% 100%);
    opacity: 0.6;
}



#main-wraper .new_menu .img_logo
{
    display: none;
}
#main-wraper .new_menu .navbar
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 100%;
    display: block;
    margin-left: 0;
     animation: gochange1 1s linear;
    animation-iteration-count: inherit; 
}
/* @keyframes gochange
{
    0%
    {
       left: -300px;
    }
    100%
    {
       left:0;
    }
} */
#main-wraper .new_menu .navbar ul
{
    width: 100%;
    display: block;
}

.navbar_header
{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0.5s;
}
.navbar_header .navbar .navbar-collapse
{
   margin:0 20%;
}
.navbar_header  .button_toggle
{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;;
    z-index: 1000;
}
.navbar_header::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.navbar_header .img_logo
{
    width: 100px;
    height: 100px;
    border-bottom : 3px solid lime;
    padding: 20px;
}
.navbar_header .img_logo img
{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.navbar_header .nav-link
{
    text-decoration: none;
    color: #fff;
    text-shadow: #fff 3px 5px 2px 2px;
    font-size: 20px;
    text-shadow: rgba(0,0,0.5) 1px 1px 2px;
    transition: all .0.8s ease-in-out;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    margin-left:15px;
}
.navbar_header .nav-link:focus,.navbar_header .nav-link:hover
{
    color:lime;
}

.navbar_header i.fa{

    font-size: 1.5em;
    color: #fff;
}
.navbar_header i.fa:nth-child(1):hover{

    color: rgb(8, 21, 134);
}
.navbar_header i.fa:nth-child(2):hover{

    color: rgb(182, 54, 54);
}
.navbar_header i.fa:nth-child(3):hover{

    color: rgb(28, 29, 34);
}
/* End Nav Header */
/* Muc Hien Slider  */
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 5px 3px;
    /* transition: transform .3s ease-in-out; */
    transition: 0.2s;
    clip-path: circle(100% at center);
}
.header .thanhsearch
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin:auto;
    height: 60px;
    transform:translate(-50%,-50%);
    z-index: 100;
    opacity: 0.5;
}
.header .thanhsearch input
{
    width: 100%;
    height: 100%;
    padding:5px 20px;
    font-size: 20px;
    color:black;
    border-radius: 30px;
    outline:none;
}
.header .thanhsearch input:focus
{
    box-shadow: 1px 2px 3px rgb(8, 57, 190);
}

.header .thanhsearch span 
{
    position: absolute;
    top: 10px;
    right:20px;
    width:40px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background:url('http://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
}


.header #slider
{
    width: 100%;
    height: 100%;
}
.header #slider img
{
    width: 100%;
    height: 576px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.csl{overflow: hidden;
   
}
.csl1
{
    clip-path: polygon(0% 0%, 0 0, 100% 50%, 0 100%, 0% 100%);
}
.csl2
{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 0% 50%);
}
.csl:hover
{
    background:rgba(255,255,255,.3);
}
.csl i.fa
{
   color: lime;
   font-weight: bold;
   font-size: 2em;
}
.csl .csl_next 
{
    margin-left: -250px;
    transition: 0.4s;
    
}
.csl .csl_prew 
{
    margin-left: 250px;
    transition: 0.4s;
    
}
.csl:hover .csl_next 
{
    margin-left: 0;
}
.csl:hover .csl_prew 
{
    margin-left: 0;
   
}
/* end Header */

.gioithieu
{
    margin: 50px 0;
    height: 250px;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 5px 3px;
    overflow: hidden;
}
 h4.gotext
{
    position: relative;
    color : transparent;
}
 h4.gotext:before{
    content: attr(data-text);
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #000;
    color:red;
    animation: gotext 7s steps(53) infinite;
}
@keyframes gotext 
{
    0%{width: 0;}
    50%{width: 100%;}
    100%{width: 0;}
}
.gioithieu .image
{
    width: 100%;
	height: 100%;
	overflow: hidden;
	margin-left: 20px;
	cursor: pointer;
}
.gioithieu .image img
{
    width: 100%;
    height: 100%;
    transition: transform 3s ease-in-out;
}
.gioithieu .image img:hover
{
      transform: scale(1.5);
}

.noidung_gioithieu
{
    background:#6b9ac536;
}

.cho , .meo{
    width: 50px;
    height: 50px;
}
.cho
{
    animation: go_cho 5s ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}
.meo
{
    animation: go_meo 5s ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}
@keyframes go_cho
{
    0%
    {
        left: 100px;
    }
    50%
    {
        left: 70%;
    }
    100%
    {
        left: 100px;

    }
}
@keyframes go_meo
{
    0%
    {
        right: 100px;
    }
    50%
    {
        right: 70%;
    }
    100%
    {
        right: 100px;

    }
}

/* End Header */
.main-product
{
    width: 100%;
}
.main-product h3
{
   color : #000;
   position: relative;
   width: 400px;
   margin:auto;
}
.main-product h3:before
{
    content: "";
    position:absolute;
    bottom: -10px;
    right: 0;
    background-image: linear-gradient(45deg, aqua , pink);
    width: 0;
    height: 4px;
    transition:0.5s;
}
.main-product h3:after
{
    content: "";
    position:absolute;
    top: -10px;
    left: 0;
    background-image: linear-gradient(45deg, aqua , pink);
    width: 0;
    height: 4px;
    transition:0.5s;
}
.main-product h3:hover:before,.main-product h3:hover:after
{
    width: 100%;
}
.layer1
{
    width: 100%;
    height: auto;
    margin-bottom: 50px;;
}
 .box
{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    transition: 0.4s;
}
/* Thiet LapHieu Ung Chung Cho Cac Box */
 ._1
{
    width: 100%;
    height: 100%;
    position:absolute;
}
._1:before
{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background:black;
    opacity: 0;
    transition:0.5s;
}
 ._1:hover:before
{
    opacity: 0.5;
}
._1 .top-left,._1 .bottom-right
{  
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
._1 .top-left::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: scale(0);
    transition: 0.3s;
}
._1 .top-left::after
{
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    transform: scale(0);
    transition: 0.3s;
}
._1 .bottom-right::before
{
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: scale(0);
    transition: 0.5s;
}
._1 .bottom-right::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: #fff;
    transform: scale(0);
    transition: 0.5s;
}
._1:hover .top-left::before,
._1:hover .top-left::after,
._1:hover .bottom-right::before,
._1:hover .bottom-right::after
{
    transform: scale(1);
    transition-delay: 0.5s;
}


/*  */
._1 img
{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
._1 .card-title
{
    width: 100%;
    height: 100%;
    text-shadow: rgba(0,0,0,.8) 2px 2px 2px;
}
._1 .card-title h4
{
    position:absolute;
    bottom:0;
    left: 0;
   transition: 0.5s;
   color: aqua;
   font-size: 2em;
}
._1 .card-title p
{
    position:absolute;
    bottom:-100px;
    left: 50%;
    transition: 0.5s;
    color: #fff;
    text-shadow: #fff 3px 2px 4px 1px;
}
._1:hover .card-title h4
{
    bottom:120px;
    left: 30px;
    
}
._1:hover .card-title p
{
    
    bottom: 80px;
    left: 30px;
    
}
/* Phan icon Hien thi Khi Hover vao Khoi Box */


._1 .icon_box :nth-child(1),
._1 .icon_box :nth-child(2),
._1 .icon_box :nth-child(3)
{
    position: absolute;
    bottom:0;
    right:50%;
    transition: 0.4s;
    opacity: 0;
    font-size: 1.5em;
    color: #fff;
}
._1 .icon_box i:nth-child(1)
{
    transition: .3s;
    
}
._1 .icon_box i:nth-child(2)
{
    transition: .6s;
   

}
._1 .icon_box i:nth-child(3)
{
    transition: .9s;
    

}

._1:hover .icon_box i:nth-child(1),
._1:hover .icon_box i:nth-child(2),
._1:hover .icon_box i:nth-child(3)
{
    opacity: 1;
    bottom:30px;
}
._1:hover .icon_box i:nth-child(1)
{
    right:30px;
   
}
._1:hover .icon_box i:nth-child(2)
{
    right:70px;
    
}
._1:hover .icon_box i:nth-child(3)
{
    right:110px;

}

._1 .icon_box i:nth-child(1):hover
{
    
    color: rgb(214, 22, 22);
    text-shadow: 0 0 3px gray;
}
._1 .icon_box i:nth-child(2):hover
{

    color:rgb(44, 199, 173);
    text-shadow: 0 0 3px gray;

}
._1 .icon_box i:nth-child(3):hover
{
   
    color: rgb(206, 219, 21);
    text-shadow: 0 0 3px gray;

}


._1 .fa-spinner
{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size: 60px;
    color: #fff;
    opacity: 0;
    transition:0.5s;
}
._1:hover .fa-spinner
{
    opacity: 1;
}

/* Layer2 */

.layer2
{
    width: 100%;
    height: auto;
}
.box1
{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.box2
{
    width: 100%;
    height: 290px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.box1 ,.box2,.box3
{
    box-shadow: rgba(43, 42, 42, 0.3) 3px 3px 5px 3px;
    transition: 0.4s;
}
.box:hover,.box1:hover,.box2:hover
{
    box-shadow: rgba(0,0,0,0.5)  3px 4px 5px 4px;
    transform: translateY(-10px);
}

/* Layer 3 */

.layer3
{
    width: 100%;
    height: auto;
}

/* Layer 4 */

.layer4
{
    width: 100%;
}
 .talk
{
    width: 800px;
    height:400px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.talk  .talk_dog ,  .talk  .talk_cat
{
    width: 50%;
}
.talk  .talk_dog  img,  .talk  .talk_cat img
{
    width: 100%;
    height: 100%;
}
.talk  .talk_dog .message
{
    width: 80%;
    margin: auto;
    height: 150px;
    border:1px solid gray;
    background: aqua;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 78%, 21% 100%, 21% 75%, 0% 75%);
}

.talk  .talk_cat .message
{
    width: 80%;
    margin: auto;
    height: 150px;
    border:1px solid gray;
    background: rgba(50, 191, 226, 0.5);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 69% 76%, 77% 100%, 44% 76%, 0% 75%);
}
/* End Layer 4 */
/* Footer */
#footer
{
    background : #fff;
    box-shadow: rgba(0,0,0,0.3) 3px 3px 5px 3px;
}
#footer ul li{color:rgb(12, 11, 12);font-size: 20px;position: relative;}
#footer ul li:before {content : "";position: absolute;bottom:0;left: 0;width: 0;height: 2px;background: red;transition:0.5s;}
#footer ul li:hover:before {width: 100%;}

/* End Footer */



/* Icon Thong Bao */

.toggle-icon
{
    position:fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border:1px solid rgb(228, 62, 206);
    border-radius: 50%;
    
}
.icon-notifi
{
    position:fixed;
    bottom: 120px;
    right: -100px;
    transition: 0.5s;
    
}
.toggle .icon-notifi
{
    right:30px;
}
.toggle .toggle-icon
{
    transform:rotate(45deg);
}
.icon-notifi div
{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border:1px solid rgb(228, 62, 206);
    border-radius: 50%;
}
.icon-notifi .fa{
    font-size: 25px;
}
.icon-notifi div .fa-envelope
{
    color: lime;
    transition:.5s;
    
}
.icon-notifi div .fa-phone
{
    color: rgb(35, 13, 133);
    transition:.7s;
    
   
}
.icon-notifi div .fa-arrow-circle-up
{
    color: rgb(206, 39, 53);
    transition:.9s;
    
   
}
.icon-notifi div:nth-child(1):hover
{
    background: rgb(72, 218, 72);
    box-shadow: 0 0 5px lime;
}

.icon-notifi div:nth-child(2):hover
{
    background: rgb(123, 101, 221);
    box-shadow: 0 0 5px rgb(35, 13, 133);

}
.icon-notifi div:nth-child(3):hover
{
    background:rgb(204, 150, 154);
    box-shadow: 0 0 5px rgb(206, 39, 53);
}

.icon-notifi div:nth-child(1):hover  .fa-envelope,
.icon-notifi div:nth-child(2):hover .fa-phone,
.icon-notifi div:nth-child(3):hover .fa-arrow-circle-up
{
    color: white;
    animation: golac 2s linear infinite;
}

@keyframes golac
{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform:scale(1.5);
    }
}


/* Hieu UngLoaf Trang */
.loadweb
{
    opacity: 0;
    
}
.goload {
    animation: cdlen 1.5s ease forwards;
}
@keyframes cdlen
{
    from {
        /* clip-path: circle(0% at center); */
        transform: translateY(500px) ;
        opacity: .3;}
    to {
        /* clip-path: circle(100% at center); */
        transform: translateY(0px) ;
        opacity: 1;}
}
@media screen and (max-width: 992px) {
    .talk
    {
        width: 100%;
    }
  }

  /* Hieu Ung Khi Keo chuot an menu */
    /* background: linear-gradient(transparent,transparent,rgba(0,0,0,.1)); 
  
      /* background: linear-gradient(transparent,transparent,rgba(0,0,0,.1)); */

.icon-nav{
      position:fixed;
      top: 0;
      left: 0;
      border: 1px solid gray;
      background: rgba(0,0,0,.3);
      padding:10px;
      z-index: 1000;
      color: #fff;
      font-size: 2em;
      z-index: 1001;
  }


 


 
  /* Tao Hieu Ung Khi De Chuot MouseMove  */
  
  span.heart
  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background:url(./../img/heart.png);
    background-size: cover;
    transform : translate(-50%,-50%);
    pointer-events: none;
    animation:animate 1s linear infinite;
    z-index: 1000;
  }
  @keyframes animate
  {
      0%
      {
        transform : translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0deg);
      }
     100%
      {
        transform : translate(-50%,-500%);
        opacity: 0;
        filter: hue-rotate(720deg);

      }
  }

  /* Leyer 5 Danh Gia */
  .layer5
  {
     position: relative;
      margin-top: 50px;
      padding:50px 0;
  }
  .layer5 .a{
      margin-top: 50px;
  }
  .layer5:before
  {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 40px;
      background:red;
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);
  }
  .layer5:after
  {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 40px;
      background:red;
      clip-path: polygon(100% 0, 100% 50%, 100% 100%, 30% 100%, 0 53%, 32% 0);
  }
  .layer5 .heading
  {
      font-size: 2em;
      color: black;
  }
  .layer5 span
  {
      font-size: 1.5em;
  }
  .layer5 .checked
  {
      color: yellow;
  }

  .layer5 hr{
      width: 100%;
      height: 5px;
      background:rgb(94, 86, 86);
  }
  .side {
    float: left;
    width: 15%;
    margin-top:10px;
  }
  
  .middle {
    margin-top:10px;
    float: left;
    width: 70%;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}


/*Thanh Cuon Chuot  */

::-webkit-scrollbar
{
    width: 0;
}
#scroll
{
   position: fixed;
   top: 0;
   right: 0;
   width: 15px;
   height: 100%;
}
#progress
{
   position: fixed;
   top: 0;
   right: 0;
   width: 15px;
   border-radius: 4px;
   background: linear-gradient(45deg, rgb(21, 175, 21),rgb(62, 172, 35));
   animation: animate 5s linear infinite;
}
@keyframes animate{
    0% , 100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progress::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
   background: linear-gradient(to top , gray , pink);

   filter:blur(30px);
}

#progress::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top , gray , pink);
   
   filter:blur(30px);
}


/* Thiet Lap Responsive */

@media (max-width : 992px)
{
    .navbar_header{
        background: rgba(0,0,0,0.3);
    }
}
